<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/aboutStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <title>About Team</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="gallery-body">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        </div>
        <div class="container" >
            <div class="jumbotron">
                <h1 id="center"> <%=title%></h1>
                <h2 id="center">About Us</h2>
                <p id="center"> A brief introduction to this site's contributors. </p>
            </div>
        </div>
        <div class="container">
<<<<<<< Updated upstream
            <div class="row">

                <figure class="col-lg-4">
                    <div class="thumbnail pic-size2">
                        <a href="">
                            <img alt="Front End Lead" src="">
                        </a>
                    </div>
                </figure>

                <figure class="col-lg-4">
                    <div class="thumbnail pic-size2">
                        <a href="">
                            <img alt="Team Lead" src="">
                        </a>
                    </div>
                </figure>

                <figure class="col-lg-4">
                    <div class="thumbnail pic-size2">
                        <a href="">
                            <img alt="Back End Lead" src="">
                        </a>
                    </div>
                </figure>
=======
            <div class="row top-row">
                <a href="/about/raj">
                    <div class="thumbnail col-md-4">
                        <h6 id="center-align">Raj - Front-End Lead</h6>
                        <img class= "pic-size" alt="Front-End Lead" src="http://clipart-library.com/images/BiaEg4n8T.jpg">
                    </div>
                </a>
                <a href="/about/michael">
                    <div class="thumbnail col-md-4">
                        <h6 id="center-align">Michael - Team Lead</h6>
                        <img class= "pic-size" alt="Team Lead" src="http://clipart-library.com/images/BiaEg4n8T.jpg">
                    </div>
                </a>
                <a href="/about/jonathan">
                    <div class="thumbnail col-md-4">
                        <h6 id="center-align">Jonathan - Back-End Lead</h6>
                        <img class= "pic-size" alt="Back-End Lead" src="http://clipart-library.com/images/BiaEg4n8T.jpg">
                    </div>
                </a>
>>>>>>> Stashed changes

            </div>

<<<<<<< Updated upstream
            <div class="row">
                <figure class="col-lg-3">
                    <div class="thumbnail pic-size">
                        <a href="">
                            <img alt="Team Member" src="">
                        </a>
                    </div>
                </figure>

                <figure class="col-lg-3">
                    <div class="thumbnail pic-size">
                        <a href="">
                            <img alt="Team Member" src="">
                        </a>
                    </div>
                </figure>

                <figure class="col-lg-3">
                    <div class="thumbnail pic-size">
                        <a href="">
                            <img alt="Team Member" src="">
                        </a>
                    </div>
                </figure>

                <figure class="col-lg-3">
                    <div " class="thumbnail pic-size ">
                                <a href=" ">
                                    <img alt="Team Member " src=" " >
                                </a>
                            </div>
                        </figure>
                    </div>
=======
                <div class="row bottom-row">
                    <a href="/about/angie">
                        <div class="thumbnail col-md-3">
                            <h6 id="center-align">Angie - Front-End</h6>
                            <img class= "pic-size" alt="Front-End" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-X8M0gsrWHF8mRy3N-uhjGXPA9UVoVqDeL_lOmghgRgUvdAXy">
                        </div>
                    </a>
                    
                    <a href="/about/carlos">
                        <div class="thumbnail col-md-3">
                            <h6 id="center-align">Carlos - Front-End</h6>
                            <img class= "pic-size" alt="Front-End" src="http://clipart-library.com/images/BiaEg4n8T.jpg">
                        </div>
                    </a>

                    <a href="/about/johnathan">
                        <div class="thumbnail col-md-3">
                            <h6 id="center-align">Johnathan - Back-End</h6>
                            <img class= "pic-size" alt="Back-End" src="http://clipart-library.com/images/BiaEg4n8T.jpg">
                        </div>
                    </a>

                    <a href="/about/sandhya">
                        <div class="thumbnail col-md-3">
                            <h6 id="center-align">Sandhya - Back-End</h6>
                            <img class= "pic-size" alt="Back-End" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-X8M0gsrWHF8mRy3N-uhjGXPA9UVoVqDeL_lOmghgRgUvdAXy">
                        </div>
                    </a>

                </div>
>>>>>>> Stashed changes

            </div>
        </div>

<<<<<<< Updated upstream
        <!-- container -->
        <<script src="http://code.jquery.com/jquery-2.1.4.js "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
=======
            <!-- container -->
            <script src="http://code.jquery.com/jquery-2.1.4.js "></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
>>>>>>> Stashed changes
</body>

</html>