<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        onsubmitted {
            margin-left: 70px;
            font-weight: bold;
            float: left;
            clear: left;
            width: 100px;
            text-align: left;
            margin-right: 10px;
            font-family: sans-serif, bold, Arial, Helvetica;
            font-size: 14px;
        }

        div {
            box-sizing: border-box;
            width: 100%;
            border: 100px solid black;
            float: left;
            align-content: center;
            align-items: center;
        }

        form {
            margin: 0 auto;
            width: 600px;
        }
    </style>
</head>

<body>
    <h3 style="text-align: center">CSC 642 Summer 2019 Individual Assignment Carlos Lopez</h3>
    <h5 style="text-align: center"> REGISTRATION FORM </h5>
    <form name="formLayout" action="/about/forms/carlosConfirm" method="POST" onsubmit="return onsubmitted()">

        <p>First Name:* <br><input maxlength="40" minlength="1" type="text" size=50 name="firstName"> </p><br>
        <p>Last Name:* <br><input maxlength="40" minlength="1" type="text" size=50 name="lastName"> </p><br>
        <p>Address:* <br><input maxlength="40" minlength="1" type="text" size=50 name="Address"> </p><br>
        <p>City: <br><input maxlength="40" minlength="1" type="text" size=50 name="city"> </p><br>
        <p>Zip Code:* <br><input maxlength="5" minlength="5" placeholder="12345" type="text" pattern="[0-9]*" size=6
                name="zip"> </p><br>
        <p>State: <br>
            <select type="text" value="" name="state">
                <option>Choose One</option>
                <option>AL</option>
                <option>CA</option>
                <option>NV</option>
                <option>AK</option>
                <option>CA</option>
                <option>WA</option>
            </select></p><br>
        <p>Password:* <br><input maxlength="40" minlength="8" type="password" size=50 name="Password"> </p><br>
        <p>Re-Enter Password:* <br><input maxlength="40" minlength="8" type="password" size=50 name="Password-r"> </p>
        <br>
        <p>Telephone:* <br><input placeholder="0001234567" type="tel" pattern="[0-9]*" size=50 name="Telephone"> </p>
        <br>
        <p>E-mail Address:* <br><input maxlength="40" type="email" size=50 name="Email"> </p><br>
        <p>Re-Enter E-mail Address:* <br><input maxlength="40" type="email" size=50 name="Email-r"> </p><br>

        <p>Education Level: <br>
            <select type="text" value="" name="education">
                <option>Choose One</option>
                <option>High School</option>
                <option>GED</option>
                <option>Some College</option>
                <option>Bachelors Degree</option>
                <option>Masters Degree</option>
                <option>P.H.D</option>
            </select>
        </p><br>

        <p>Yearly Income: <br>
            <select type="text" value="" name="income">
                <option>Choose One</option>
                <option> $0 - $50,000</option>
                <option>$50,000 - $75,000</option>
                <option>$75,000 - $100,000</option>
                <option> +$100,000</option>
            </select>
        </p><br>
        <form><b>
                <input type="checkbox" name="checkbox" value="check" id="agree" />
                I have read and agree to the Terms and Conditions and Privacy Policy 
                <b>
        </form>
        <p> <br>Comments: <br><textarea cols="50" name="Comment"></textarea></p>
        <p style="text-align:right">
            <input type="reset" value="Cancel" name="Reset">
            <input type="submit" value="Submit" name="Submit">
        </p>
        <script>
            function onsubmitted() {
                var fname = document.forms["formLayout"]["firstName"];
                var lname = document.forms["formLayout"]["lastName"];
                var email = document.forms["formLayout"]["Email"];
                var emailR = document.forms["formLayout"]["Email-r"];
                var phone = document.forms["formLayout"]["Telephone"];
                // var education = document.forms["formLayout"]["education"];
                var password = document.forms["formLayout"]["Password"];
                var pwRepeat = document.forms["formLayout"]["Password-r"];
                var address = document.forms["formLayout"]["Address"];
                // var city = document.forms["formLayout"]["city"];
                // var state = document.forms["formLayout"]["state"];
                var zip = document.forms["formLayout"]["zip"];
                var checkbox = document.forms["formLayout"]["checkbox"];

                if (fname.value == "") {
                    window.alert("Please enter a first name.");
                    fname.focus();
                    return false;
                }

                if (lname.value == "") {
                    window.alert("Please enter a last name.");
                    lname.focus();
                    return false;
                }
                if (address.value == "") {
                    window.alert("Please enter your address.");
                    address.focus();
                    return false;
                }

                if (zip.value == "") {
                    window.alert("Please enter a zip code.");
                    zip.focus();
                    return false;
                }
                // if (state.value == "") {
                //     window.alert("Please choose a state.");
                //     state.focus();
                //     return false;    
                // }

                if (password.value == "") {
                    window.alert("Please enter your password");
                    password.focus();
                    return false;
                }
                if (password.value != pwRepeat.value) {
                    window.alert("You're passwords do not match.");
                    pwRepeat.focus();
                    return false;
                }
                if (phone.value == "") {
                    window.alert("Please enter your telephone number.");
                    phone.focus();
                    return false;
                }

                if (email.value == "") {
                    window.alert("Please enter a valid e-mail address.");
                    email.focus();
                    return false;
                }

                if (email.value != emailR.value) {
                    window.alert("You're emails do not match.");
                    emailR.focus();
                    return false;
                }
                if (!checkbox.checked) {
                    alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy');
                    return false;
                }
                return true;
            }</script>

</body>

</html>