<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!---------------CAPTCHA------------->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body class="container">
    <div style="text-align: center" class="alert alert-primary" role="alert">
        CSC 642 Summer 2019 Individual Assignment Carlos Lopez
    </div>
    <title> REGISTRATION FORM </title>

    <div class="container">

        <form name="formLayout" action="/about/forms/carlosConfirm" method="POST" onsubmit="return onsubmitted()">

            <p>First Name:* <br><input maxlength="40" minlength="3" type="text" size=50 name="firstName"> </p><br>
            <p>Last Name:* <br><input maxlength="40" minlength="3" type="text" size=50 name="lastName"> </p><br>
            <p>Address:* <br><input maxlength="40" minlength="3" type="text" size=50 name="Address"> </p><br>
            <p>City: <br><input maxlength="40" minlength="3" type="text" size=50 name="city"> </p><br>
            <p>Zip Code:* <br><input maxlength="5" minlength="5" placeholder="12345" type="text" pattern="[0-9]*" size=6
                    name="zip"> </p><br>
            <p>State: <br>
                <select type="text" value="" name="state">
                    <option>Choose One</option>
                    <option>AL</option>
                    <option>CA</option>
                    <option>NV</option>
                    <option>AK</option>
                    <option>NY</option>
                    <option>WA</option>
                </select></p><br>
            <p>Password:* <br><input maxlength="40" minlength="8" type="password" size=50 name="Password"> </p><br>
            <p>Re-Enter Password:* <br><input maxlength="40" minlength="8" type="password" size=50 name="Password-r">
            </p>
            <br>
            <p>Telephone:* <br><input maxlength="10" minlength="10" placeholder="0001234567" type="tel" pattern="[0-9]*"
                    size=50 name="Telephone"> </p>
            <br>
            <p>E-mail Address:* <br><input maxlength="40" minlength="6" type="email" size=50 name="Email"> </p><br>
            <p>Re-Enter E-mail Address:* <br><input maxlength="40" minlength="6" type="email" size=50 name="Email-r">
            </p>
            <br>

            <p>Education Level: <br>
                <select type="text" value="" name="education">
                    <option>Choose One</option>
                    <option>High School</option>
                    <option>GED</option>
                    <option>Some College</option>
                    <option>Bachelors Degree</option>
                    <option>Masters Degree</option>
                    <option>Doctors Degree</option>
                </select>
            </p><br>

            <p>Yearly Income: <br>
                <select type="text" value="" name="income">
                    <option>Choose One</option>
                    <option> $0 - $50,000</option>
                    <option>$50,000 - $75,000</option>
                    <option>$75,000 - $100,000</option>
                    <option> +$100,000</option>
                </select>
            </p><br>
            <b>
                <input type="checkbox" name="checkbox" value="check" id="agree" />
                I have read and agree to the Terms and Conditions and Privacy Policy
            </b>
            <br>

            <div class="g-recaptcha" data-sitekey="6Lc36KwUAAAAAMEE-ErJqxeJCDsNYWfdEQOtlCf0"></div>
            <br />

            <div class="row" style="margin-bottom: 20px">
                <div class="col">
                    <input class="btn btn-outline-danger btn-lg" type="reset" value="Cancel" name="Reset">
                </div>
                <div class="col">
                    <input class="btn btn-success btn-lg" type="submit" value="Submit" name="Submit"
                        style="text-align: right">
                </div>
            </div>
        </form>

        <script>
            function onsubmitted() {
                var fname = document.forms["formLayout"]["firstName"];
                var lname = document.forms["formLayout"]["lastName"];
                var email = document.forms["formLayout"]["Email"];
                var emailR = document.forms["formLayout"]["Email-r"];
                var phone = document.forms["formLayout"]["Telephone"];
                var password = document.forms["formLayout"]["Password"];
                var pwRepeat = document.forms["formLayout"]["Password-r"];
                var address = document.forms["formLayout"]["Address"];
                var zip = document.forms["formLayout"]["zip"];
                var checkbox = document.forms["formLayout"]["checkbox"];
                var cap = grecaptcha.getResponse();

                if (fname.value == "") {
                    window.alert("Please enter a first name.");
                    fname.focus();
                    return false;
                }

                if (lname.value == "") {
                    window.alert("Please enter a last name.");
                    lname.focus();
                    return false;
                }
                if (address.value == "") {
                    window.alert("Please enter your address.");
                    address.focus();
                    return false;
                }

                if (zip.value == "") {
                    window.alert("Please enter a zip code.");
                    zip.focus();
                    return false;
                }
                if (password.value == "") {
                    window.alert("Please enter your password");
                    password.focus();
                    return false;
                }
                if (password.value != pwRepeat.value) {
                    window.alert("You're passwords do not match.");
                    pwRepeat.focus();
                    return false;
                }
                if (phone.value == "") {
                    window.alert("Please enter your telephone number.");
                    phone.focus();
                    return false;
                }

                if (email.value == "") {
                    window.alert("Please enter a valid e-mail address.");
                    email.focus();
                    return false;
                }

                if (email.value != emailR.value) {
                    window.alert("You're emails do not match.");
                    emailR.focus();
                    return false;
                }
                if (!checkbox.checked) {
                    window.alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy');
                    return false;
                }
                if (cap.length == 0) {
                    window.alert("Captcha is required");
                    return false;
                }
                return true;
            }
        </script>

    </div>
</body>

</html>