<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results verification page Jonathan Julian Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "/stylesheets/jjform.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }
      </style>
</head>

<body>
        
        <div class ="unique"> <!--wrapper div-->
            <div class = "container-full"> <!--container div-->
                <h1>Confirmation</h1>
            <div class = "row"><!--row div-->
                <div class="col-md-6 form contact">
                    Name: edit
                </div>  
                <div class="col-md-6 form col-offset-md-6">
                        Education Level: edit
                </div>
            </div> <!--end row div-->
    
            <div class = "row"> <!-- row 2 div-->
                    <div class="col-md-6 form contact">
                            Email: edit
                    </div>  
                    <div class="col-md-6 form col-offset-md-6">
                            Income: edit
                    </div>
                </div>  <!--end row 2 div-->
    
                <div class = "row"><!-- row 3 div-->
                        <div class="col-md-6 form contact">
                                Phone: edit
                        </div>  
                        <div class="col-md-6 form col-offset-md-6" >
                                <div>Address</div><div id="address">1645 calabasa dr, 95648</div>
                        </div>
                    </div> <!--end row 3 div-->
                </div><!--end container div-->
            </div><!--end wrapper div-->
        <div id="map"></div>

</body>
<script>
        function initMap() {
          var geocoder = new google.maps.Geocoder();
          var latLong = geocodeAddress(geocoder, map);
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: {latLong}
          });
        }
  
        function geocodeAddress(geocoder, resultsMap) {
          var address = document.getElementById('address').value;
          geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
              resultsMap.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJyqr8Uk_kgC7xdJT2BirbY8EXUsA7l5w&callback=initMap">
      </script>
  
        
</html>