<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSC 642 Summer 2019 Individual Assignment Jonathan Julian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "/stylesheets/jjform.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body class = "unique">
    <div class = "container-full">
            <h1>Registration Form</h1>
        <form name="registration" action="/about/forms/confirmation" onsubmit="return validateForm()" method = "POST">
            <div class = "row form contact"> <!--Name information-->
                <div class = "col-sm-2">
                    First Name*:
                </div>
                <div class = "col-sm-3 col-offset-sm-2">
                    <input type="text" name = "firstName" required minlength="2" maxlength="20">
                </div>
                <div class="col-sm-2"></div>
                <div class = "col-sm-2 col-offset-sm-7">
                    Last Name*:
                </div>
                <div class = "col-sm-3 col-offset-sm-9">
                    <input type = "text" name = "lastName" required minlength="2" maxlength="20">
                </div>
            </div>  <!--End Name Info-->
            <div class = "row form contact"> <!--Email information-->
                <div class = "col-sm-2">
                    Email*:
                </div>
                <div class = "col-sm-3 col-offset-sm-2">
                    <input type="email" name = "email">
                </div>
                <div class="col-sm-2"></div>
                <div class = "col-sm-2 col-offset-sm-7">
                    Re-Enter Email*:
                </div>
                <div class = "col-sm-3 col-offset-sm-9">
                    <input type = "email" name = "reEmail">
                </div>
            </div> <!--End Email info-->
            <div class="row form contact"><!--Phone-->
                <div class = "col-sm-2">
                    Phone*: ###-####
                </div>
                <div class = "col-sm-3 col-offset-sm-2">
                    <input type="tel" name = "phone" required pattern="[0-9]{3}-[0-9]{4}">
                </div>
            </div><!--end phone-->
            

            <div class = "row form" id="spacing"> <!--Questions-->
                <div class = "col-sm-2">
                    Education Level:
                </div>
                <div class = "col-sm-3 col-offset-sm-2">
                    <select name = "education">
                        <option value="Not Provided">Select One</option>
                        <option value="High School/GED">High School/GED</option>
                        <option value="College">College</option>
                        <option value="Graduate Studies">Graduate Studies</option>
                        <option value="Ph.D">Ph.D</option>
                    </select>
                </div>
                <div class = "col-sm-2"></div>
                <div class = "col-sm-2 col-offset-sm-7">
                    Annual Income
                </div>
                <div class = "col-sm-3 col-offset-sm-9">
                    <select name = "income">
                        <option value="Not Provided">Select One</option>
                        <option value="$0 - $50,000">$0 - $50,000</option>
                        <option value="$50,000 - $100,000">$50,000 - $100,000</option>
                        <option value="$100,000 +">$100,000 +</option>
                    </select>
                </div>
            </div><!--end Questions-->

            <div class = "row form" id="spacing">  <!--Address-->
                <div class = "col-sm-2">
                    Street Address*:
                </div>
                <div class = "col-sm-3 col-offset-sm-3">
                    <input type="text" name = "address" required maxlength="35">
                </div>  
                <div class='col-sm-2'></div>
                <div class = "col-sm-2 col-offset-sm-7">
                    Zip Code*:
                </div>
                <div class = "col-sm-3 col-offset-sm-9">
                    <input type="text" name="zipCode" required minlength="5" maxlength="5">
                </div>
            </div> <!--end Address-->

            <div class ="row form" id="spacing"> <!-- TOU-->
                <div class = "col-sm-9">
                    By selecting the check box you agree to the terms and conditions of this site.  Please contact us if there are questions.*
                </div>
                <div class = "col-sm-3 col-offset-sm-9 checkbox">
                    <input type="checkbox" name="TOU" required>
                </div>
            </div><!--end TOU-->

            

            <div class ="row form"><!--Buttons-->
                <div class="form col-sm-6">
                    <input type="reset" name=" Cancel" value="Clear">
                </div>
                <div class="form col-sm-6 col-offset-sm-6">
                    <input type="submit" name="Submit" value="Send">
                </div>
            </div> <!--end buttons-->
        </form> <!--end form-->
    </div><!--container div-->
</body>


<script>
function validateForm() {
  var email = document.forms["registration"]["email"].value;
  var reEmail = document.forms["registration"]["reEmail"].value;
  if (email != reEmail) {
    alert("Emails do not match");
    return false;
  }
}


</script>
</html>