body {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body {
    font-family: lato;
    color: white;
}

.pic-size2 {
    height: 200px;
    max-height: 220px;
    width: auto;
    height: auto;
    align-items: center;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    
}

.environmate-index {
    font-size: 450%;
}

.mission-statement {
    font-size: 100%;
    color: black;
    font: sans-serif;
}

.footer-text {
    color: black;
    font-size: 1em;
}

.results {
    height: 80%;
    position: fixed;
    overflow: auto;
}

.index{
    margin: 5%;
    padding: 15px;
}
.container {
    margin: 30px;
    padding: 10px;
}

.card-center {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 125px;
    position: fixed;
    overflow: auto;
}

.dropdown-width {
    size: 50px;
}

.post-span-button {
    float: right;
}

.nav-search-bar {
    margin-left: 20%;
    margin-top: 10px;
    width: 100%;
}

.about-nav {
    margin-left: 75px;
}

.post-nav {
    margin-right: 50px;
}

.most-recent {
    height: 440px;
    width: 200px;
    overflow: auto;
    position: relative;
}

.post-incident-container {
    margin: auto;
    width: 600px;
    min-width: 400px;
    max-width: 1000px;
    padding: 25px;
    padding-bottom: 0px;
}

.post-incident-section {
    float: left;
}