<!DOCTYPE html>

<head>
    <%- include ../views/partials/head.ejs%>
        <header>
            <% include ../views/partials/header.ejs%>
        </header>

<<<<<<< HEAD
        <body class="container">
            <main>
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-sm-6 col-xs-4">
                        <div id="content">
                            <h1 class="environmate-index">EnvironMate</h1>
                            <form name="search" action="/results">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select name="search_field" required>
                                    <option value="">Choose One</option>
                                    <option value="FIRST_NAME">First Name</option>
                                    <option value="LAST_NAME">Last Name</option>
                                    <option value="ROLE">Role</option>
=======
<header>
    <% include ../views/partials/headerNoSearch.ejs%>
</header>

<body class="container">
    <main>
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h1 class="environmate-index">EnvironMate</h1>
                    <form name="search" action="/results">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select name="search_field" required>
                                    <option value="ALL">ALL</option>
                                    <option value="ZIP">ZIP CODE</option>
                                    <option value="STATUS">STATUS</option>
                                    <option value="TYPE">TYPE</option>
>>>>>>> 58db51e4865d2875f3b6edd0536927e9c4c7af97
                                </select>
                                    </div>
                                    <input name="search_text" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search" maxlength="20">
                                    <div class="input-group-append">
                                        <input class="btn btn-success" type="submit" value="Search"></div>
                                </div>
                            </form>
                            <h3 class="mission-statement">CHANGING THE WORLD, ONE INCIDENT AT A TIME</h3>
                            </h3>
                            <hr>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <%-include ../views/partials/footer.ejs%>
            </footer>

            </html>