<p>SFSU Software Engineering Project CSC 648-848, Summer 2019. For Demonstration Only</p>
<% include modals.ejs%>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EnvironMate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/incidents/report">Post Incident</a>
                </li>
                <li class="nav-item">
                    <a data-target="#loginPopup" data-toggle="modal" class="nav-link" id="log-in-switch-txt" href="#loginPopup">Log In</a>
                </li>
                <li class="nav-item">
                    <a data-target="#signupPopup" data-toggle="modal" class="nav-link" id="sign-in-switch-txt" href="#signupPopup"> Sign Up</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/results">View Incidents</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/about">About</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
