
    <nav class="navbar navbar-default" role = "navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class = "container-fluid">
            
        </div>
            <!-- /.navbar-collapse -->
        </div><!--continer fluid -->
    </nav>
