<p class="text-muted bg-dark mx-0 my-0" style="text-align: center;"><small>SFSU Software Engineering Project CSC 648-848, Summer 2019. For Demonstration Only</small></p>
<% include modals.ejs%>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EnvironMate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link about-nav" href="/about">About</a>
                </li>
            </ul>

            <form name="search" action="/results" class="nav-search-bar">
                <div class="input-group mb-3">
                    <input name="search_text" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search" maxlength="20">
                    <div class="input-group-append">
                        <input class="btn btn-success" type="submit" value="Search"></div>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item post-nav">
                    <a href="/incidents/report"><button class="btn btn-danger">Post Incident</button></a>
                    <!-- <a class="nav-link post-nav" href="/incidents/report">Post Incident</a> -->
                </li>
                <!-- Button trigger for log in -->
                <button type="button" id="loginPopupButton" class="btn btn-primary btn-sm login-nav" data-toggle="modal" data-target="#loginPopup">
              Log In
            </button>

                <!-- Button trigger for sign up -->
                <button type="button" class="btn btn-primary btn-sm signup-nav" data-toggle="modal" data-target="#signupPopup">
              Sign Up
            </button>
            </ul>
        </div>
    </nav>