<!--
    Author: Rajdeep Riar
    Purpose/Function: includes nav bar, along wiht cookie script for user log in
    Date: 8/8/2019
 -->

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-145593934-1', 'auto');
    ga('send', 'pageview');
</script>

<!-- End Google Analytics -->


<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<p class="text-muted bg-dark mx-0 my-0" style="text-align: center;"><small>SFSU Software Engineering Project CSC
        648-848, Summer 2019. For Demonstration Only</small></p>
<% include modals.ejs%>
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">EnvironMate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link about-nav" href="/about">About</a>
            </li>
        </ul>

        <form name="search" action="/results" class="nav-search-bar">
            <div class="input-group mb-3">
                <input name="search_text" type="text" class="form-control" aria-label="Text input with dropdown button"
                    placeholder="Search" maxlength="50" id="search_text">
                <div class="input-group-append">
                    <input class="btn btn-success" type="submit" value="Search" 
                            onclick="captureSearch(document.getElementById('search_text').value)"></div>
            </div>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="nav-item post-nav">
                <a href="/incidents/report"><button class="btn btn-danger btn-sm">Post Incident</button></a>
                <!-- <a class="nav-link post-nav" href="/incidents/report">Post Incident</a> -->
            </div>
        </ul>
        <div class="row" id="authContainer">
            <div class="pt-1" id="welcomeMsgCont">
                <span id="welcomeMsg" style="color: white"></span>
            </div>
            <div class="px-3" id="signoutButton">
                <form action="/signout" method="post">
                    <button type="submit" id="signout" class="btn btn-primary btn-sm">
                        Log Out
                    </button>
                </form>
            </div>
        </div>
            <ul class="navbar-nav ml-auto">
            <div id="unauthContainer">
                <ul class="navbar-nav ml-auto">
                    <!-- Button trigger for log in -->
                    <li class="nav-item post-nav">
                        <button type="button" id="loginPopupButton" class="btn btn-primary btn-sm login-nav" data-toggle="modal" data-target="#loginPopup" value="signout">

                        Log In
                    </button>
                </li>

                <!-- Button trigger for sign up -->
                <li class="nav-item signup-nav">
                    <button type="button" class="btn btn-primary btn-sm signup-nav" data-toggle="modal"
                        data-target="#signupPopup">
                        Sign Up
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    var captureSearch = function(searchValue){
        if(searchValue != null){
            console.log(searchValue);
            sessionStorage.setItem('search', searchValue)
        }
    }

    var updateSearch = function(){
        var search = sessionStorage.getItem('search');
        console.log(search);
        document.getElementById('search_text').value = search;
    }
    
    //calls to update search box
    document.onchange = updateSearch();


    // get cookie from URI encoded cookie obj.
    // @param cname is the name of a cookie (ie. 'user')
    // @return string representation of cookie object that was set.
    var getCookie = function (cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieJson = [];
        for (let i = 0; i < decodedCookie.length; i++) {
            if (decodedCookie[i] === '{') {
                cookieJson = decodedCookie.substring(i);
                return cookieJson;

            }
        }
        return null;
    }

    // function that update auth-related nav components/buttons
    var updateAuthButtons = () =>{
        var cookie = getCookie('user');
        if (!cookie) {
            //hide authContainer
            $('#authContainer').hide();
            //show authContainer
            $('#unauthContainer').show();
            // loginUnsuccessful(); undefined function?
        } else {
            let parsed = JSON.parse(cookie);
            $(document).ready(function () {
                //hide logged in controls until after cookie check
                $('#authContainer').show();
            });
            //set welcome message
            let welcomeMessage = "Welcome, " + parsed.firstName;
            $('#welcomeMsg').text(welcomeMessage);
            //show authContainer
            $('#authContainer').show();
            $('#unauthContainer').hide();
            // console.log(parsed.firstName);
        }
    }
    // each reloads update buttons
    updateAuthButtons();
    
</script>