<!DOCTYPE html>
<html>

<head>
    <%- include ../partials/head.ejs%>
    <script src="https://unpkg.com/blob-util/dist/blob-util.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<header>
    <% include ../partials/header.ejs%>
</header>

<body>
	<div class="container-fluid"> 
		<div class="row d-flex justify-content-center">
			<div class="card my-3 mx-3 py-3 px-3 d-flex" style="max-width: 1080px;">
			  	<div class="row no-gutters"> 
			  		<!-- picture section-->
			    	<div class="col-md-4 mt-5 ml-3">  
			      	<img src="https://sfrecpark.org/wp-content/uploads/IMG_3604-e1395359176830-600x400.jpg"  class="card-img" alt="Incident image">
			    	</div> 
			    	<!-- end picture section-->
			    	<!-- text section -->
					<div class="col-md-7 pl-5"> 
						<!-- text -->
				    	<div class="card-body">
				    		<h5 class="card-title my-3 pb-2" style="border-bottom: 2px solid lightgrey; text-align: center;">Incident Detail</h5>
				        	<div class="container">
				        		<!-- date section -->
							  	<div class="row justify-content-end">
							   		<div class="col-4" style="text-align: right;">
							      		<b>Date</b>
							    	</div>
							    	<div class="col-6">
							      		Aug. 16, 2019
							    	</div>
							  	</div>
							  	<!-- end of date section -->
							  	<!-- status section -->
							  	<div class="row justify-content-end">
							   		<div class="col-4" style="text-align: right;">
							      		<b>Status</b>
							    	</div>
							    	<div class="col-6">
							      	Received
							    	</div>
							  	</div>
							  	<!-- end of status section -->
							  	<!-- type section -->
							  	<div class="row justify-content-end">
							   		<div class="col-4" style="text-align: right;">
							      		<b>Type</b>
							    	</div>
							    	<div class="col-6">
							      	Garbage Spill
							    	</div>
							  	</div>
							  	<!-- end of type section -->
							  	<!-- location section -->
							  	<div class="row justify-content-end">
							   		<div class="col-4" style="text-align: right;">
							      		<b>Location</b>
							    	</div>
							    	<div class="col-6">
							      	1 California St. | 94111
							    	</div>
							  	</div>
							  	<!-- end of location section -->
							  	<!-- description seciton  -->
							  	<div class="row justify-content-end">
							   		<div class="col-4" style="text-align: right;">
							      		<b>Description</b>
							    	</div>
							    	<div class="col-6">
							      	Garbage everywhere.
							    	</div>
							  	</div>
							  	<!-- end of description section -->
							</div>
				    	</div>	
				    	<!-- end of text section-->
				    </div> 
				    <div class ="container-fluid ">
				  		<div class="card">
				  			<div class="card-body">

				  			</div>	
				  		</div>	
				  	</div>	
			  	</div>
			</div>
			<!-- end of card -->
		</div>	
	</div>
</div>
	</div>	 
</div>
</body>

</html>